:root {
  --nav-background: #3e3c3c;
  --main-background: #1c1a19;
  --font-color-1: #fff;
  --font-color-2: #f55800;
  --font-round: "Crete Round", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* General styling */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--font-color-1);
  font-family: var(--font-inter);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--font-color-1);
}

.btn {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.03em;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--font-color-2);
}

.btn-2,
.btn-3,
.btn-4 {
  font-size: 18px;
  line-height: 24px;
  padding: 12px;
  color: white;
  letter-spacing: 0.03em;
  border-radius: 3px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  transition: all 0.1s ease-in;
}

/* button hover */

.btn:active {
  background: #e05304;
  color: var(--font-color-1);
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button {
  border: none;
  outline: none;
  color: #fff;
  background: #f55800;
}

li {
  list-style-type: none;
}

.header {
  font-family: var(--font-round);
  color: #f55800;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.37px;
  margin: 10px 0;
  line-height: 81.5px;
}

nav {
  background: #3e3c3c;
  background-size: 200%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  height: 72px;
}

.nav-elements {
  display: none;
}

#menu-container {
  width: 30px;
  height: 30px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.open {
  background: url("../assest/Enabled.png") no-repeat;
  padding: 20px;
  transform: translateY(0);
}

.close {
  background: url("../assest/close.png") no-repeat;
  padding: 12px;
}

.mobile-nav-elements {
  background: #3c3a39;
  position: absolute;
  right: 0;
  top: 9%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  padding-top: 60px;
}

.mobile-nav-list {
  color: #fff5e1;
  margin: 20px 30px;
  font-size: 1.4rem;
  padding: 20px 0 15px 30px;
  border: none;
  border-bottom: 1px solid #fff5e1;
}

main {
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  opacity: 1;
}

.home-page {
  padding: 0 15px;
}

.description-heading {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.description-para {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.icons-container {
  margin-top: 10px;
  text-align: left;
  display: flex;
}

.main-icon {
  margin: 10px;
}

.illustration-container {
  width: 150px;
  height: 360px;
  background-repeat: no-repeat;
  background-image: url("../assest/Illustration.svg");
  position: absolute;
  right: 0;
  bottom: -5%;
  display: block;
}

.work {
  background: var(--font-color-1);
  color: var(--main-background);
}

.work-header {
  text-align: center;
  font-family: var(--font-round);
  font-size: 40px;
  font-weight: normal;
}

.about {
  text-align: center;
}

.about-header {
  font-size: 72px;
  margin: 120px auto 0 auto;
}

.about-description {
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
  text-align: left;
}

.about-btn {
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.about-illustration {
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 1px solid white;
}

/* SKILLS */
.skills {
  text-align: center;
  margin-top: 100px;
}

.skills-lang {
  margin: 70px 0;
}

.skill-lang-header {
  font-weight: bold;
  font-size: 32px;
  margin: 0 12px;
}

.skill-lang-li {
  font-weight: normal;
  font-size: 22px;
  margin: 20px auto;
}

/* Contact-me section */
.contact {
  background-color: var(--font-color-1);
  padding: 0 24px;
}

.contact-description {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
  padding-top: 120px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 100px;
}

input,
textarea {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  padding: 15px 16px;
  outline: none;
  width: 100%;
}

input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

textarea {
  background-color: #fbf8f7;
  border: none;
}

textarea::-moz-placeholder {
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

textarea:-ms-input-placeholder {
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

textarea::placeholder {
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

.submit {
  align-self: center;
}

#error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.form-line {
  margin: 0;
  border: none;
  border-bottom: 1px solid #dfe1e6;
}

.form-icons-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer {
  background: var(--font-color-1);
}

@media screen and (min-width: 992px) {
  nav {
    justify-content: space-between;
    padding: 7px 150px 0 150px;
    margin: 0;
  }

  .nav-elements,
  .mail {
    display: block;
  }

  .nav-elements {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .nav-list {
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
  }

  .mobile-nav-elements,
  #menu-container {
    display: none;
  }

  main {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    height: 798px;
  }

  .home-page {
    width: 550px;
  }

  .header {
    font-size: 72px;
    margin: 24px 0;
  }

  .description-heading {
    font-size: 32px;
    margin: 24px 0;
  }

  .description-para {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 0;
  }

  .icons-container {
    flex-direction: column;
  }

  .main-icon {
    margin: 12px;
  }

  .illustration-container {
    width: 520px;
    height: 710px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("images/Illustration-header.png");
    position: absolute;
    right: 0;
    top: 10%;
  }

  .work-header {
    text-align: left;
    padding: 50px 0 0 51px;
  }

  /* ABOUT SECTION */
  .about {
    padding: 5px 0 1px 142px;
  }

  .about-section {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-sub-section {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    text-align: left;
    font-size: 72px;
    margin: 120px 0 0 50px;
  }

  .about-description {
    width: 570px;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 100px 0 50px;
  }

  .about-btn {
    margin: 40px 50px;
    width: 158px;
  }

  .about-illustration img {
    display: none;
  }

  .about-illustration {
    width: 700px;
    height: 550px;
    background: url("../assest/illustration-about-me.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    float: right;
  }

  .about-line {
    margin-right: 142px;
  }

  /* SKILLS */
  .skills {
    display: flex;
    justify-content: start;
    text-align: left;
  }

  .skills-lang {
    margin: 0 200px 150px 0;
  }

  /* CONTACT */
  .contact {
    display: flex;
    justify-content: space-around;
  }

  .contact-description {
    color: #262626;
    width: 455px;
    height: 256px;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    margin: 24px 0;
    vertical-align: middle;
  }

  form {
    padding-top: 100px;
    width: 680px;
    padding-left: -70px;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 110px;
  }

  .form-line {
    width: 100%;
    margin: 0;
    background: #fff;
  }

  .submit {
    align-self: flex-start;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  #work {
    margin: 0 141px;
    align-content: center;
  }
}

.container {
  margin: 0 auto;
  background-color: #3c3a39;
}

.bg-color-2 {
  background-color: white;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.title_1 {
  flex-direction: column;
}

.title-text {
  font-size: 40px;
  font-weight: 500;
}

.grid-layout {
  display: grid;
  grid-row: 2;
}

.grid-img {
  display: grid;
  padding: 0;
  margin-left: 0;
}

.see-projects {
  color: #091e42;
  margin: 17px 20px 0 20px;
}

.see-projects p {
  margin: 10px 0;
}

.tags {
  display: flex;
  align-items: center;
}

.tags li {
  margin: 20px 10px 0 0;
}

.tag-border {
  padding: 8px;
  padding-left: 24px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid lightgray;
}

.grid-2 {
  display: grid;
  grid-row: 6;
  grid-gap: 20px;
}

.tags2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto;
  padding-left: 0;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6b00;
}

.h-text-white,
.p-text-white,
.tags-color-white {
  color: white;
}

.h-text-size {
  font-size: 28px;
  font-weight: 500;
}

.html,
.bootstrap,
.ruby {
  background: rgba(255, 255, 255, 0.24);
}

ul .img-1 {
  background-color: white;
}

.btn-see {
  margin: 20px 0;
}

.btn-2:hover {
  background: #221d12;
  border: 1px solid #f55800;
  color: #ff6b00;
}

.btn-2:active {
  background-color: #f56e0e;
  border: 1px solid #f56e0e;
  color: white;
  box-shadow: 0 5px #f56e0e;
  transform: translateY(6px);
}

.btn-3 {
  font-size: 18px;
  line-height: 24px;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.03em;
  border-radius: 3px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease-in;
}

.btn-3:hover {
  color: #f55800;
  background: #221d12;
  border: 1px solid #f55800;
}
